# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Database
*.db
*.sqlite3

# Env
.env
.env.local

# Node
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs
.vscode/
.idea/
